/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
.vagrant/
.idea
.php_cs.cache
node_modules/
jspm_packages/
/web/vendors
/web/components
/web/directives
/web/config
/web/css
/web/fonts
/web/pages
/web/static
/web/index.html
/web/app.js*
/ansible/roles/galaxy